extends layout
block content
  .row
    .col-md-4
    .col-md-4
      form(role='form', action="/api/servers", method="post")
        .form-group
          input.form-control(type='text', name="username", placeholder='IP')
        .form-group
          input.form-control(type='password', name="password", placeholder='Password')
        button.btn.btn-default(type='submit') Submit
