extends layout
block content
  h1 Dashboard
  .row
    .col-md-4
      center
        h2 Servers Online
        h3 1/4
    .col-md-4 
      center
        h2 Players Online
        h3 20/600
    
    .col-md-4
      center
        h2 Other Stat
        h3 40/300
  .row
    .col-md-12
      h1 Table of things
      table.table
        th Player name
        th Player Stat 1
        th Time Played 
        tr
          td Tragic
          td 24%
          td 02H:04M:30S
        tr
          td Owner
          td 75%
          td 08H:24M:50S
  .row 
    .col-md-4
      center
        h2 Servers Online
        h3 1/4
    .col-md-4 
      center
        h2 Players Online
        h3 20/600
    
    .col-md-4
      center
        h2 Other Stat
        h3 40/300
      
