extends layout
block content
  .dashboard_container
    if(server.query_data.error)
      .row
        .col-md-12
          h2
            span.glyphicon.glyphicon-remove-sign(style='padding-right: 10px; color: red;')
            | [#{server.query_data.query.type}]#{server.query_data.query.host}:#{server.query_data.query.port} Offline
      .row
        h4  Error : #{server.query_data.error}
    if(!server.query_data.error)
      .row
        .col-md-12
          h2
            span.glyphicon.glyphicon-ok-sign(style='padding-right: 10px; color: green;')
            | #{server.query_data.name}  -  
          |#{server.last_query}
      block game_data
