extends layout
block content
  if(servers)
    .row
      .col-md-12
        h2 Server Status
    .row
      .col-md-12
        .panel.panel-default
          .panel-body
            button.btn.btn-success.pull-right(type='button', data-toggle='modal' data-target='#addserver')
              span.glyphicon.glyphicon-plus(style='margin-right:5px;')
              | New Server
    .row
      .col-md-12
        .panel-group(role='tablist', aria-multiselectable='true', id='gameservers')
          each server in servers
            .panel.panel-default
              if(!server.meta.query_data.error)
                #headingOne.panel-heading(role='tab')
                  h4.panel-title
                    if(!server.meta.query_data.error)
                      a.collapsed(role='button', data-toggle='collapse', data-parent='#gameservers', href='#GSC-#{server._id}', expanded='false', aria-controls='GSC-#{server._id}')
                        .row.gsrow
                          .col-md-5
                            span.glyphicon.glyphicon-ok-sign(style='padding-right: 10px; color: green;')
                            | #{server.meta.query_data.name}
                          .col-md-2
                            center
                              | #{server.meta.query_data.query.name}
                          .col-md-1
                            center
                              span(style='color:green') Online
                          .col-md-1
                            if(server.meta.query_data.online)
                              center #{server.meta.query_data.online}/#{server.meta.query_data.maxplayers}
                            if(!server.meta.query_data.online)
                              center #{server.meta.query_data.raw.numplayers}/#{server.meta.query_data.maxplayers}
                          .col-md-1
                            center #{server.meta.query_data.map}
                          .col-md-2
                            button.btn.btn-danger.pull-right.gscontrol
                              span.glyphicon.glyphicon-trash
                            button.btn.btn-warning.pull-right.gscontrol
                              span.glyphicon.glyphicon-bell
                .panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne', id='GSC-#{server._id}')
                  .panel-body
                    .row
                      .col-md-6
                        h4 Server Settings:
                        table
                          tr
                            td(width='75%')
                              b Host:
                            td #{server.meta.query_data.query.host} 
                          tr
                            td  
                              b IP:
                            td #{server.meta.query_data.query.address}
                          tr
                            td  
                              b Port:    
                            td #{server.meta.query_data.query.port}
                          tr
                            td  
                              b Query Port:
                            td #{server.meta.query_data.query.port_query}
                      .col-md-6
                        h4 Notification Settings
              if(server.meta.query_data.error)
                #headingOne.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#gameservers', href='#GSC-#{server._id}', expanded='false', aria-controls='GSC-#{server._id}')
                      .row
                        .col-md-4
                          span.glyphicon.glyphicon-remove-sign(style='padding-right: 10px; color: red;')
                          | [#{server.meta.query_data.query.type}]#{server.meta.query_data.query.host}:#{server.meta.query_data.query.port} Offline
                .panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne', id='GSC-#{server._id}')
                  .panel-body
                    h3 Server is offline.
  if(!servers)
    .row 
      .col-md-12
        center
          h2 Unkown Error :(

block modals
  #addserver.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Add Game Server
        .modal-body
          form(action='/api/servers/game', method='post')
            .form-group
              | Game: 
              select#add-games-list(name='slug')
            .form-group
              | IP/Hostname: 
              input#ip.form-control(type='text', name='ip')
            .form-group
              | Port: 
              input#port.form-control(type='text', name='port')
            .form-group
              | Query Port: 
              input#qport.form-control(type='text', name='qport')
            button.btn.btn-default(type='submit') Add Server
