extends layout
block content
  if(!user)
    #loginForm
      .row
        .col-md-4
        .col-md-4
          center
            #loginLogo
              img.img-responsive(src='/images/logo.png')
            form(role='form', action="/login", method="post", style='max-width:300px;')
              .form-group
                input.form-control(type='text', name="username", placeholder='Username')
              .form-group
                input.form-control(type='password', name="password", placeholder='Password')
              button.btn.btn-default(type='submit') Submit
  if(user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout
