html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='/javascripts/main.js')
    if(!user)
      //link(href='/stylesheets/theme.min.css', rel='stylesheet', media='screen')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
      #header
        .logo
          a(href="#") Play
            span Monitor.io
        .controls
          a(href="#") User 
          a(href="/logout") Logout
        
      #container
        .sidebar
          ul#nav
            li 
              a(href="/dashboard") Dashboard
            li 
              a(href="/dashboard/gameservers") Game Servers
            li 
              a(href="/voice") Voice Servers
            li 
              a(href="/users") Users
        .content
          block content
    block modals
    if(!user)
    //  block content

    script(src='http://code.jquery.com/jquery.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
