extends layout

block content
  form(role='form', action="/secrettunnel", method="post", style='max-width:300px;')
    .form-group
      input.form-control(type='text', name="username", placeholder='Username')
    .form-group
      input.form-control(type='password', name="password", placeholder='Password')
    button.btn.btn-default(type='submit') Submit
