extends layout
block content
  .dashboard_container
    if(error || !server)
      .row
        .col-md-12
          h2
            span.glyphicon.glyphicon-remove-sign(style='padding-right: 10px; color: red;')
            | [#{error.query.type}]#{error.query.host}:#{error.query.port} Offline
      .row
        h4  Error : #{error.error}
    if(server)
      .row
        .col-md-12
          h2
            span.glyphicon.glyphicon-ok-sign(style='padding-right: 10px; color: green;')
            | #{server.meta.query_data.name}
      .row
        .col-md-4
          center
            h2 Active Players
            h4 #{server.meta.query_data.raw.numplayers} / #{server.meta.query_data.maxplayers}
