* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
}

div#header {
  width:100%;
  height: 50px;
  background-color: #c0392b;
  margin: 0 auto;
}

a, a:hover, a:active{
  text-decoration: none;
}
#loginForm{
  margin-top: 150px;
}

#loginLogo {
  margin: 100px;
}

.logo {
  float:left;
  margin-top: 8px;
  margin-left: 15px;
}

.logo a{
  font-size: 1.8em;
  color: #fff !important;
  font-weight: bold;
}

.logo a span {
  font-weight: 300;
}

.controls {
  float:right;
  margin-top: 12px;
  margin-right: 15px;
  margin-left: 15px;
}

.controls a, .controls a:hover {
  font-size: 1.3em;
  color: #fff !important;
  text-decoration: none;
  padding-left:15px;
}

div#container {
  margin-top:50px;
  position: absolute;
  top: 0px;
  left:0px;
  right: 0px;
  bottom: 0px;
}

.sidebar {
  width: 250px;
  top:0px;
  bottom:0px;
  left:0px;
  position: absolute;
  background-color: #1d1d1d;
  float: left;
}

.content {
  position:absolute;
  left:250px;
  right:0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  background-color: #fefefe;
  color: #000 !important;
  padding: 15px;
  overflow-y:auto;
  overflow-x: hidden;
}

ul#nav li{
  list-style: none;
}

ul#nav li a {
  color: #ecf0f1;
  padding: 10px;
  display: block;
  font-size: 1em;

  border-bottom: 1px solid #0d0d0d;

  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

ul#nav li a:hover {
  background-color: #0d0d0d;
  text-decoration: none;
}

ul#nav li a.selected {
  background-color: #DA2E1B;
}

.dashboard_container {
  margin-left:20px;
}

.col-4-content {
  overflow-y: auto;
  height: 450px;
}

.h2inline {
  display: inline;
}

.15down {
  margin-bottom: 15px;
}

.gsrow{
  vertical-align: middle;
}
.gscontrol {
  margin-right: 5px;
}
