extends ../gameserver
block game_data
  .row
    .col-md-4
      center
        h2 Active Players
        h4 #{server.query_data.raw.numplayers} / #{server.query_data.maxplayers}
    .col-md-4
      center
        h2 Game Mode
        h4 #{server.query_data.raw.rules.GameMode}
    .col-md-4
      center
        h2 Version
        h4 #{server.query_data.raw.rules.Version}
  .row
    .col-md-4
      h2 Server Variables
      .col-4-content
        table(id='servervar')
          thead
            th Variable
            th Setting
          each setting, rule in server.query_data.raw.rules
            tr
              td #{rule}
              td #{setting}
    .col-md-4
      h2 Players Online
      .col-4-content
        center
          h4 Player reporting not supported. 
