extends ../gameserver
block game_data
  .row
    .col-md-4
      center
        h2 Active Players
        h4 #{server.query_data.raw.numplayers} / #{server.query_data.maxplayers}
  .row
    .col-md-4
      h2 Server Variables
      .col-4-content
        table(id='servervar')
          thead
            th Variable
            th Setting
          each setting, rule in server.query_data.raw.rules
            tr
              td #{rule}
              td #{setting}
    .col-md-4
      h2 Players Online
      .col-4-content
        table(id='servervar')
          thead
            th Player
            th Score
            
          if(server.query_data.players.length == 0)
            tr
              td No players online
              td 
          if(server.query_data.players.length > 0)
            each score, player in server.query_data.players
              tr
                td #{player}
                td #{score}
